$html-text-size: 16px;
$main-text-color: #474b57;
$link-text-color: #0548be;
$accent-color: #0548be;
$accent-color-darken: #083c96;
$white-color: #fff;
$main-font: roboto, Arial, sans-serif;
$header-font: Sansus, Georgia, serif;
$laptop: 1200px;
$tablet: 768px;
$phone: 320px;
