$html-text-size: 16px;
$main-text-color: #474b57;
$header-text-size: 63px;
$header-line-height: 70px;
$link-text-color: #0548be;
$accent-color: #0548be;
$accent-color-darken: #083c96;
$sidebar-color: #253468;
$white-color: #ffffff;
$beige-color: #eae8e2;
$red-color: #e44845;
$light-beige-color: #f2f0e8;
$dark-blue-color: #0d1120;
$light-grey-color: #ecebe4;
$footer-color-blue: #2c58a3;
$footer-color-grey: #3d3f47;
$footer-border-color: #45474e;
$main-font: roboto, Arial, sans-serif;
$header-font: Sansus, Georgia, serif;
$laptop: 1200px;
$tablet: 768px;
$phone: 320px;
