-
  var socials = [
    {'id':'vk', 'href':'https://vk.com/dmfedotov'},
    {'id':'github', 'href':'https://github.com/dmfedotov'},
    {'id':'in', 'href':'#'}
  ]

  var blogNavItems = [
    {"name": "Самое важное в SASS", "href": "#"},
    {"name": "Приёмы в вёрстке, без которых не обходится ни один сайт", "href": "#"},
    {"name": "Самый необходимый набор Gulp плагинов", "href": "#"},
    {"name": "Почему я выбрал Jade", "href": "#"}
  ]

  var navItems = [
    {"name": "Мои работы", "href": "my-works.html"},
    {"name": "Обо мне", "href": "about.html"},
    {"name": "Блог", "href": "blog.html"},
    {"name": "Авторизация", "href":"index.html"}
  ]

  var skillsList = [
    {
      "type": "Frontend",
      "values": [
        {"skillName": "HTML5", "skillValue": "95"},
        {"skillName": "CSS3", "skillValue": "95"},
        {"skillName": "JavaScript & jQuery", "skillValue": "40"}
      ]
    },
    {
      "type": "Backend",
      "values": [
        {"skillName": "PHP5", "skillValue": "35"},
        {"skillName": "mySQL", "skillValue": "40"},
        {"skillName": "Node.js & npm", "skillValue": "65"},
        {"skillName": "Mongo.db", "skillValue": "70"}
      ]
    },
    {
      "type": "Workflow",
      "values": [
        {"skillName": "Git", "skillValue": "90"},
        {"skillName": "Gulp", "skillValue": "80"},
        {"skillName": "Bower", "skillValue": "65"},
        {"skillName": "Webpack", "skillValue": "60"}
      ]
    }
  ]

  var contacts = [
    {"svg": "skype", "title": "skype_qwerty"},
    {"svg": "envelope_n", "title": "crismsfiva@gmail.com"},
    {"svg": "phone_n", "title": "8 800 555-35-35"},
    {"svg": "map_n", "title": "Новосибирск, ул. Инская, д.4 "}
  ]
  