-
  var socials = [
    {'id':'vk', 'href':'https://vk.com/dmfedotov'},
    {'id':'github', 'href':'https://github.com/dmfedotov'},
    {'id':'in', 'href':'#'}
  ]

  var blogNavItems = [
    {"name": "Самое важное в SASS", "href": "#"},
    {"name": "Приёмы в вёрстке, без которых не обходится ни один сайт", "href": "#"},
    {"name": "Самый необходимый набор Gulp плагинов", "href": "#"},
    {"name": "Почему я выбрал Jade", "href": "#"}
  ]