extends ../template

block title
  title Добро пожаловать!

block content
  main.content
    section.welcome.parallax
      +parallax()
      .welcome__auth-btn
        a(href="#").btn.btn__auth Авторизоваться 
      .welcome__main
        .welcome__flipper
          .flipper
            .flipper__front
              .welcome__person.person
                .person__photo
                  img(class="person__photo-pic" src="assets/images/content/my-ava.jpg", alt="Фото автора блога")
                .person__name Дмитрий Федотов
                .person__desc Личный сайт веб разработчика 
              .welcome__social
                  +socialList("welcome", socials)         
              .welcome__buttons
                  +navList("nav__list_welcome", "welcome", navItems, 1)
            .flipper__back
              .welcome__title
                section.section-title_subtitle.section-title_subtitle_auth Авторизуйтесь
              .welcome__auth-form
                form.form(action="#" method="post" id="auth-form")
                  .form__field
                    input.form__input.form__input_login(type="text" placeholder="Логин"  name="login")
                    .form__field-icon
                      +icon("auth", "login")
                    .form-tooltip.form-tooltip_login
                      span.form-tooltip__text Вы не ввели логин
                  .form__field
                    input.form__input.form__input_login(type="password" placeholder="Пароль" name="password")
                    .form__field-icon
                      +icon("auth", "password")
                    .form-tooltip.form-tooltip_password
                      span.form-tooltip__text Вы не ввели пароль
                  .form__line
                    .form__checkbox
                      label.form__check-label
                        input.form__check-elem(type="checkbox" name="check" id="auth-check")
                        .form__check-fake
                          +icon("check", "check")
                        .form__check-title Я человек
                          .form-tooltip.form-tooltip_right.form-tooltip_check
                            span.form-tooltip__text Роботов не пускаем
                  .form__line-title
                    span.form__line-title-text Вы точно не робот?
                      .form-tooltip.form-tooltip_right.form-tooltip_radio
                        span.form-tooltip__text Роботов не пускаем
                  .form__line
                    .form__radio
                      label.form__radio-label
                        input.form__radio-elem(type="radio", name="welcome-radio", id="auth-radio-yes")
                        .form__radio-fake
                        .form__radio-text Да
                    .form__radio
                      label.form__radio-label
                        input.form__radio-elem(type="radio", name="welcome-radio", id="auth-radio-no")
                        .form__radio-fake
                        .form__radio-text Не уверен
              .welcome__auth-buttons
                button.btn.btn_form.btn_auth(id="btn-main") На главную
                button.btn.btn_form(form="auth-form" type="submit" id="btn-login") Войти
      .welcome-overlay      
  
  footer.footer.footer_welcome
    .footer__copyright
      .footer__span © Дмитрий Федотов
      .footer__span | Создано с любовью в LoftSchool | 2017
    