extends ../template

block title
  title Добро пожаловать!

block content
  section.welcome
    .container
      .welcome__auth
        a(href="#").btn.btn__auth Авторизоваться

      .welcome__main

        .person
          .person__photo
            img(class="person__photo-pic" src="assets/images/content/my-ava.jpg", alt="Фото автора блога")
          .person__name Дмитрий Федотов
          .person__desc Личный сайт веб разработчика

        .welcome__social
          ul.social
            li.social__item
              a.social__link(href="https://vk.com/dmfedotov")
                svg(class="icon icon__welcome")
                  use(xlink:href='assets/images/icons/sprite.svg#vk')
            li.social__item
              a.social__link(href="https://github.com/dmfedotov")
                svg(class="icon icon__welcome")
                  use(xlink:href='assets/images/icons/sprite.svg#github')
            li.social__item
              a.social__link(href="#")
                svg(class="icon icon__welcome")
                  use(xlink:href='assets/images/icons/sprite.svg#in')
        
        .welcome__list
          ul.main-nav
            li.main-nav__item
              a.btn.btn_welcome-nav(href="my-works.html") Мои работы
            li.main-nav__item
              a.btn.btn_welcome-nav(href="about.html") Обо мне
            li.main-nav__item
              a.btn.btn_welcome-nav(href="blog.html") Блог


    
    footer.footer.footer__welcome
      .footer__copyright © Дмитрий Федотов | создано в LoftSchool | 2017
    