extends ../template

block title
  title Мои работы

block content
  main.content
    section.section.header
      .header__social
        +socialList("header", socials)
      .header__menu-button
        a.menu(href="#")
          +icon("menu", "hamburger")
      .header__bg
            img(class="header__bg-img" src="assets/images/icons/stars1.svg")
      .header__content
        .header__person
          .person
            .person__photo
              img(class="person__photo-pic" src="assets/images/content/my-ava.jpg", alt="Фотоавтора блога")
            .person__name Дмитрий Федотов
            .person__desc Личный сайт веб разработчика
        a(class="header__arrow" href="#")
          +icon("arrow", "arrow_down")

    section.portfolio
      .section__triangle.section__triangle_left
        .triangle.triangle_color_blue
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 100" preserveaspectratio="none")
            polygon(points="0,100 0,0 500,85 500,100")
      .section__triangle.section__triangle_right
        .triangle.triangle_color_blue
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 100" preserveaspectratio="none")
            polygon(points="0,100 0,85 500,0 500,100")
      
      .portfolio__header
        .section-title__header Мои работы
          .section-title__bg
            +headerTitleBg("portfolio")


  footer.footer.footer_dark.footer_dark_transparent
    .footer__top
      .footer__col
        .footer__info.
          Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
      .footer__col
        .footer__nav
          +navList("nav__list_footer", "nav__link_footer", navItems)
        .footer__social
          +socialList("footer", socials)
      .footer__col
        .footer__contacts
          ul.footer__contacts-list
            li.footer__contacts-item
              a(href="skype:SkypeUser" class="footer__contacts-link") skype_qwerty
            li.footer__contacts-item
              a(href="mailto:crismsfiva@gmail.com" class="footer__contacts-link") crismsfiva@gmail.com
            li.footer__contacts-item
              a(href="tel:+88005553535"  class="footer__contacts-link") 8 800 555-35-35
            li.footer__contacts-item
              |Новосибирск, ул. Инская, д.4        
    .footer__bottom
      .footer__copyright © Дмитрий Федотов | создано  LoftSchool | 2017