include common/_variables
include common/_mixins

doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    block title
      title
    link(rel='stylesheet' href='assets/styles/app.min.css')

  body
    .wrapper
      main.content
        block content

      footer.footer.footer_dark
        block footer_dark

    script(src='assets/scripts/bundle.js' defer)