.about {
  display: flex;
}

.about__left,
.about__right {
  position: relative;
  display: flex;
  padding: 0 30px;
  width: 50%;
}

.about__left {
  background: #f2f0e8;
}

.about__left-header {
  width: 50%;
}

.about__left-content {
  width: 50%;
}

.about__right {
  background: $beige-color;
}

.about__triangle {
  @extend .blog__triangle;
  position: absolute;
  bottom: 100%;
  width: 100%;
}

.about__triangle_left {
  @extend .blog__triangle_left;
  
  svg {
    fill: #f2f0e8;
  }
}

.about__triangle_right {
  @extend .blog__triangle_right;
}