.about {
  display: flex;
}

.about__left,
.about__right {
  position: relative;

  display: flex;
  width: 50%;
  padding: 0 30px;
}

.about__left {
  background: $light-beige-color;
}

.about__left-header {
  width: 50%;
}

.about__left-content {
  width: 50%;
}

.about__right {
  background: $beige-color;
}
