.icon {
  display: block;
  width: 100%;
  height: 30px;
}

.icon_welcome {
  width: 31px;
  height: 23px;
  margin: 0 14px;
  fill: #fff;
  opacity: .5;

  &:hover {
      opacity: 1;
      fill: #0a44aa;
  }
}

.icon_header {
  @extend .icon_welcome;
}

.icon_footer {
  @extend .icon_welcome;
  margin: 0 26px 0 0;
}

.icon_contacts {
  width: 46px;
  height: 45px;
  fill: $accent-color;
}

.icon_menu {
  width: 40px;
  height: 35px;
  fill: $white-color;
}

.icon_arrow {
  width: 26px;
  height: 16px;
  fill: $arrow-color;
}

.icon_title-bg-about {
  width: 105%;
  height: 100%;
  fill: none;
  stroke: #dbe0e6;
  transform: rotate(-174deg);

  circle {
    fill: #dbe0e6;
  }
}