.nav__list {
  display: flex;
}

.nav__link {
  display: inline-block;

  font-weight: 500;
  color: $white-color;
  text-decoration: none;
  white-space: nowrap;

  transition-duration: 0.2s;
  transition-property: background-color, color;
}

.nav__list_blog {
  flex-direction: column;
  align-items: flex-end;

  .nav__item {
    text-align: right;
  }
}

.nav__list_footer {
  display: flex;
}

.nav__item_footer {
  margin-right: 40px;

@include tablet {
    margin-right: 30px;
  }

@include phone {
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.nav__link_footer:hover {
  color: $accent-color;
}

.nav__link_blog {
  display: inline-block;
  padding: 10px 18px 10px 0;

  font-weight: 400;
  color: $main-text-color;
  white-space: normal;

  border-right: solid 3px transparent;

  &:hover {
    font-weight: 500;
    color: $accent-color-darken;

    border-right-color: $accent-color-darken;
  }
}

.nav__link_welcome {
  padding: 10px 30px;

  background-color: $accent-color;
  border-right: 2px solid rgba(#5c86ce, 0.5);

@include phone {
    padding: 10px 22px;
  }

  &:hover {
    background-color: #083c96;
  }
}

.nav__list_welcome {
  .nav__item {
    display: flex;

    &:last-child .nav__link {
      border-right: 0;
    }
  }
}

.nav-toggle {
  position: relative;

  display: flex;
  align-items: center;
  width: 40px;
  height: 36px;

@include phone {
    width: 25px;
    height: 23px;
  }

  &:hover .nav-toggle__button::before {
    transform: translateY(-50%);
  }

  &:hover .nav-toggle__button::after {
    transform: translateY(50%);
  }
}

.nav-toggle {
  &:hover .nav-toggle__button_close::before {
    transform: rotate(-45deg) translate(-11px, 11px);
  }

  &:hover .nav-toggle__button_close::after {
    transform: rotate(45deg) translate(-11px, -11px);
  }
}

.nav-toggle:hover .nav-toggle__button,
.nav-toggle:hover .nav-toggle__button::before,
.nav-toggle:hover .nav-toggle__button::after {
  background: $white-color;
}

.nav-toggle__button::before,
.nav-toggle__button::after {
  content: "";
  position: absolute;
}

.nav-toggle__button::before {
  top: 0;
}

.nav-toggle__button::after {
  bottom: 0;
}

.nav-toggle__button,
.nav-toggle__button::before,
.nav-toggle__button::after {
  display: block;
  width: inherit;
  height: 5px;

  background: rgba($white-color, 0.7);
  border-radius: 3px;

  transition: all 0.2s ease;

@include phone {
    height: 3px;
  }
}

.nav-toggle__button_close {
  height: 0;
}

.nav-toggle__button_close::before {
  background: $white-color;
  transform: rotate(-45deg) translate(-11px, 11px);
}

.nav-toggle__button_close::after {
  background: $white-color;
  transform: rotate(45deg) translate(-11px, -11px);
}

