.reviews {
  display: flex;
  justify-content: center;
  padding: 60px 30px 0;

  background-image: url("../images/bg/night_works_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

@include phone {
    padding: 35px 10px;
  }
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__content::after {
  content: "";

  display: block;
  height: 1px;
  margin-bottom: 189px;

@include tablet {
    margin-bottom: 230px;
  }

@include footer__col-layout {
    margin-bottom: 330px;
  }

@include phone {
    margin-bottom: 275px;
  }
}

.reviews__header {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

@include tablet {
    max-width: 300px;
    margin: 0 auto;
  }
}

.reviews__items {
  margin-bottom: 70px;

@include tablet {
    margin-bottom: 45px;
  }

@include phone {
    margin-top: 20px;
  }
}

.reviews__list {
  display: flex;
  justify-content: center;

@include phone {
    flex-direction: column;
  }
}

.reviews__item {
  margin-right: 24px;

@include phone {
    margin-right: 0;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.reviews__feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

  background: inherit;

@include phone {
    width: 100%;
    margin-bottom: 40px;
  }
}

.reviews__scroll {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
