section {
  position: relative;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
}

.section-title_subtitle {
  position: relative;
  font-size: 35px;
  line-height: 41px;
  font-family: Sansus;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    display: block;
    width: 90px;
    height: 3px;
    background: #9c9d9f;
    transform: translateX(-50%);
  }
}

.section-title_color_white {
  color: $white-color;
}

.section-title__header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: $header-text-size;
  line-height: $header-line-height;
  font-family: $header-font;
  text-transform: uppercase;
  z-index: 2;
}

.section-title__bg {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: -10;
  transform: translate(-50%, -75%);
  width: 100%;
  opacity: .4;
}

.section-title__bg_blog {
  width: 390%;
}

.section-title__bg_about {
  @extend .section-title__bg;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 1;
}

.section-title__info {
  margin-bottom: 55px;
}
