section {
  position: relative;
}

.section__triangle {
  position: absolute;
  bottom: 100%;

  width: 50%;
}

.section__triangle_left {
  left: 0;
}

.section__triangle_right {
  right: 0;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $main-text-color;
}

.section-title_subtitle {
  position: relative;

  font-size: 35px;
  line-height: 41px;
  font-family: Sansus;
  text-align: center;
  text-transform: uppercase;

@include tablet {
    font-size: 30px;
    line-height: 36px;
  }

@include tablet {
    font-size: 21px;
    line-height: 28px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;

    display: block;
    width: 90px;
    height: 3px;

    background: #9c9d9f;
    transform: translateX(-50%);
  }
}

.section-title_subtitle_white {
  color: $white-color;

@include tablet {
    font-size: 30px;
  }

@include phone {
    font-size: 21px;
    line-height: 28px;
  }
}

.section-title_subtitle_auth {
  color: $white-color;

  @include tablet {
    font-size: 30px;
  }

  &::after {
    display: none;
  }
}

.section-title_color_white {
  color: $white-color;
}

.section-title__header {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  max-width: 500px;
  margin-bottom: 16px;

  font-size: $header-text-size;
  line-height: $header-line-height;
  font-family: $header-font;
  text-align: center;
  text-transform: uppercase;

@include tablet {
    font-size: 49px;
    line-height: 52px;
  }

@include phone {
    font-size: 35px;
    line-height: 42px;
  }
}

.section-title__bg {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: -10;

  width: 100%;

  transform: translate(-50%, -75%);
  opacity: 0.4;
}

.section-title__bg_blog {
  width: 390%;
}

.section-title__bg_about {
  top: 50%;
  left: 50%;
  z-index: -10;

  display: flex;
  justify-content: center;

  transform: translate(-50%, -50%);
  opacity: 1;

@extend .section-title__bg;

@include phone {
    display: none;
  }
}

.section-title__bg_portfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;

  display: flex;
  justify-content: center;
  width: 260px;
  height: 170px;

  transform: translate(-50%, -50%);
  opacity: 0.4;

@include phone {
    width: 200px;
    height: 110px;
  }
}

.section-title__bg_reviews {
  width: 300px;
  height: 210px;

@extend .section-title__bg_portfolio;

@include tablet {
    width: 270px;
    height: 180px;
  }

@include phone {
    width: 200px;
    height: 110px;
  }
}

.section-title__info {
  max-width: 570px;
  margin-bottom: 80px;

@include tablet {
    font-size: 14px;
  }
}
