.skill {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
}

.skill__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 500;
  color: $accent-color;
  text-align: center;
}