.skills__header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.skills__desc {
  margin-bottom: 50px;
}

.skills__section {
  margin-bottom: 47px;
}

.skills__item {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.skills-row__title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.skills-row__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 770px;
}

.skills-row__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}
