.triangle {
  width: 100%;
  display: flex;

  svg {
    width: 100%;
    fill: $white-color;
  }
}

.triangle_color_beige {

  svg {
    fill: $beige-color;
  }
}

.triangle_color_light-beige {

  svg {
    fill: $light-beige-color;
  }
}

.triangle_color_blue {

  svg {
    fill: rgba($dark-blue-color, .85);
  }
}