.welcome {
  height: 100vh;
  min-height: 650px;
  background: url("../images/bg/welcome-bg.jpg") center;
  background-size: cover;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.welcome__auth {
  position: absolute;
  top: 24px;
  right: 100px;
}

.btn__auth {
  color: #fff;
  border: 2px solid #fff;
  transition: .3s;

  &:hover {
    background-color: #083c96;
    border-color: #083c96;
  }
}

.welcome__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(#1c1f29, .5);
  border-radius: 4px;
  overflow: hidden;
}